---
layout: default
---

<div class="header-bar">
  <h1>mr.colson</h1>
  <h2>Doug Olson</h2> 
  <h3>Producer, Mixer, Engineer, Educator</h3>
  <br/>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>{% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" style="width: 60px;padding-right:8px;float:left">
        {% else %}
        <img src="/img/Painted_Guitar.jpg" style="width: 60px;padding-right:8px;float:left">
        {% endif %}
        <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>